@mixin colors($name, $color) {
  .bg-#{$name} {
    background: $color !important;
  }

  .border-#{$name} {
    border-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }

  &.focus-bg-#{$name}:not(:hover) {
    &:focus {
      background: $color !important;
    }
  }

  &.focus-text-#{$name}:not(:hover) {
    &:focus {
      color: $color;
    }
  }

  &.hover-bg-#{$name} {
    &:hover {
      background: $color !important;
    }
  }

  &.hover-text-#{$name} {
    &:hover {
      color: $color;
    }
  }
}

$color-black: #000;
$color-white: #fff;
$color-gray-10: #f0f0f0;
$color-gray-15: #e8e8e8;
$color-gray-20: #cbcbcb;
$color-gray-30: #949494;
$color-purple: #c748ff;
$color-teal: #009688;
$color-blue: #2196F3;
$color-yellow: #ffe95c;
$color-green: #56A902;
$color-red: #ea6767;

$color-tag-1: #a5dff9;
$color-tag-2: #ef5285;
$color-tag-3: #60c5ba;
$color-tag-4: #feee7d;

@include colors('black', $color-black);
@include colors('white', $color-white);
@include colors('gray-10', $color-gray-10);
@include colors('gray-15', $color-gray-15);
@include colors('gray-20', $color-gray-20);
@include colors('gray-30', $color-gray-30);
@include colors('purple', $color-purple);
@include colors('teal', $color-teal);
@include colors('blue', $color-blue);
@include colors('yellow', $color-yellow);
@include colors('green', $color-green);
@include colors('red', $color-red);
