.tag {
  box-sizing: border-box;
  @extend .rounded;
  @extend .p-1;
  @extend .text-xs;
  background: $color-white;
  &.oidc { background: $color-tag-1; }
  &.shipment-system-api { background: $color-tag-2; }
  &.shipment-system-spa { background: $color-tag-3; }
  &.ups-adapter { background: $color-tag-4; }
}

.hook-disabled {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity .2s, height .2s, padding .2s, margin .2s linear;
}
