// Font
@mixin generateFontSizes($name, $size, $unit) {
  .text-#{$name} { font-size: #{$size}#{$unit}; }
}

@include generateFontSizes('xs', 0.75, rem);
@include generateFontSizes('sm', 0.875, rem);
@include generateFontSizes('base', 1, rem);
@include generateFontSizes('lg', 1.125, rem);
@include generateFontSizes('xl', 1.25, rem);
@include generateFontSizes('2xl', 1.5, rem);
@include generateFontSizes('3xl', 1.875, rem);
@include generateFontSizes('4xl', 2.25, rem);
@include generateFontSizes('5xl', 3, rem);
@include generateFontSizes('6xl', 4, rem);

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.no-decorations { text-decoration: none }

// Spacing
.mx-auto {
  margin: auto;
}

@mixin spacingGenerator($name, $spacing, $unit) {
  .m-#{$name} { margin: #{$spacing}#{$unit}; }
  .ml-#{$name} { margin-left: #{$spacing}#{$unit}; }
  .mr-#{$name} { margin-right: #{$spacing}#{$unit}; }
  .mt-#{$name} { margin-top: #{$spacing}#{$unit}; }
  .mb-#{$name} { margin-bottom: #{$spacing}#{$unit}; }
  .mx-#{$name} { margin-left: #{$spacing}#{$unit}; margin-right: #{$spacing}#{$unit}; }
  .my-#{$name} { margin-top: #{$spacing}#{$unit}; margin-bottom: #{$spacing}#{$unit}; }

  .p-#{$name} { padding: #{$spacing}#{$unit}; }
  .pl-#{$name} { padding-left: #{$spacing}#{$unit}; }
  .pr-#{$name} { padding-right: #{$spacing}#{$unit}; }
  .pt-#{$name} { padding-top: #{$spacing}#{$unit}; }
  .pb-#{$name} { padding-bottom: #{$spacing}#{$unit}; }
  .px-#{$name} { padding-left: #{$spacing}#{$unit}; padding-right: #{$spacing}#{$unit}; }
  .py-#{$name} { padding-top: #{$spacing}#{$unit}; padding-bottom: #{$spacing}#{$unit}; }
}

@include spacingGenerator('0', 0, '');
@include spacingGenerator('1', 0.25, rem);
@include spacingGenerator('2', 0.5, rem);
@include spacingGenerator('3', 0.75, rem);
@include spacingGenerator('4', 1, rem);
@include spacingGenerator('5', 1.25, rem);
@include spacingGenerator('6', 1.5, rem);
@include spacingGenerator('8', 2, rem);
@include spacingGenerator('10', 2.5, rem);
@include spacingGenerator('12', 3, rem);
@include spacingGenerator('16', 4, rem);
@include spacingGenerator('20', 5, rem);
@include spacingGenerator('24', 6, rem);

// Size
@mixin sizeGenerator($name, $size, $unit) {
  .w-#{$name} { width: #{$size}#{$unit}; }
  .h-#{$name} { height: #{$size}#{$unit}; }
}

@include sizeGenerator('auto', auto, '');
@include sizeGenerator('full', 100, '%');
@include sizeGenerator('screen', 100, vw);
@include sizeGenerator('fit', fit-content, '');
@include sizeGenerator('0', 0, '');
@include sizeGenerator('1', 0.25, rem);
@include sizeGenerator('2', 0.5, rem);
@include sizeGenerator('3', 0.75, rem);
@include sizeGenerator('4', 1, rem);
@include sizeGenerator('5', 1.25, rem);
@include sizeGenerator('6', 1.5, rem);
@include sizeGenerator('8', 2, rem);
@include sizeGenerator('falf', 50, '%');

@mixin widthFractions($fractionAmount) {
  $unit: '%';
  @for $i from 1 through ($fractionAmount - 1) {
    .w-#{$i}_#{$fractionAmount} { width: #{100 / $fractionAmount * $i}#{$unit}; }
  }
}

@include widthFractions(3);
@include widthFractions(4);
@include widthFractions(5);
@include widthFractions(6);
@include widthFractions(7);
@include widthFractions(8);
@include widthFractions(9);
@include widthFractions(10);
@include widthFractions(11);
@include widthFractions(12);

// Table
.row { display: table; }
.column { display: table-cell; }

// Display
@mixin displayGenerator($name) {
  .#{$name} { display: #{$name}; }
}
@include displayGenerator(inline);
@include displayGenerator(inline-block);
@include displayGenerator(block);
@include displayGenerator(flex);

.container {
  &.sm { max-width: 640px }
  &.md { max-width: 768px }
  &.lg { max-width: 1024px }
  &.xl { max-width: 1280px }
}

.left { float: left; }
.right { float: right; }

.absolute { position: absolute; }
.relative { position: relative; }
.static { position: static; }
.fixed { position: fixed; }

.rounded {
  border-radius: .25rem;
}

.border {
  border: 1px;
}

.box {
  box-sizing : border-box;
}

.shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1), 0 1px 4px 0 rgba(0,0,0,.05)!important;
}

.hidden {
  display: none;
}

// Cursors
.pointer { cursor: pointer; }

.scroll-y { overflow-y: scroll; }
.scroll-x { overflow-x: scroll; }
