input {
  &.outline {
    &:focus {
      background: $color-white !important;
      outline-color: $color-green;
      &:hover { background: $color-white !important; }
    }

    &:hover {
      background: lighten($color-gray-20, 5%) !important;
    }
  }
}

.button {
  @extend .px-2;
  @extend .py-1;
  @extend .mx-1;
  @extend .text-xs;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: $color-gray-30;
  color: white;

  &.btn-base {
    @extend .px-2;
    @extend .py-1;
    @extend .text-base;
  }

  &:hover, &.focus {
    color: lighten(white, 10%);
    background: lighten($color-gray-30, 5%);
    box-shadow: white;
    box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.75);
  }
}
