.modal-overlay {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 15;
  padding-top: 3rem;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  @extend .rounded;
  @extend .shadow;
  display: flex;
  flex-flow: column;
  margin: auto;
  background: $color-white;
  width: 75%;
  height: 90%;

  .modal-header {
    @extend .p-3;
    border-bottom: 1px solid $color-gray-15;
  }
  .modal-content {
    overflow-y: scroll;
    margin: 5px;
    .log-tab-content {
      &.react-tabs__tab-panel--selected {
        background: lightgray;
        height: 725px;
      }
    }
  }
}

.logs {
  .log {
    &.date {
      @extend .pr-1;
      color: green;
      font-weight: bold;
    }
  }
}

